{% include "header.html" %}
<div class="row middle-page">
    <div class="col-lg-4">
        {% include "membros-adicionados.html" %}
    </div>
    <div class="col-lg-4">
        <div class="modal-dialog" tabindex="-1">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title">Membros da família {{ nome_familia }}</h5>
                    </div>
                    <form action="{{ url_for('contas_a_pagar') }}" method="post">
                        <div class="modal-body">
                            <label>Conta</label>
                            <input type="text" placeholder="Conta" name="conta">
                        </div>
                        <div class="modal-body">
                            <label>Valor</label>
                            <input type="number" placeholder="Valor" name="valor">
                        </div>
                        <div class="row">
                            <div class="d-grid gap-2 col-lg-6">
                                <button type="submit" class="btn btn-primary">Adicionar nova conta</button>
                            </div>
                            <div class="d-grid gap-2 col-lg-6">
                                <button type="button" class="btn btn-primary"
                                        onclick="window.location.href='{{ url_for('dividir_dividas') }}'">Finalizar
                                </button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <div class="col-lg-4">
        {% include "contas-adicionadas.html" %}
    </div>
</div>
{% include "footer.html" %}