{% include "header.html" %}
<div class="row align-items-center border-bottom border-dark border-2">
    <div class="col">
        {% include "familia.html" %}
    </div>
</div>
<div class="container-fluid">
    <div class="row min-size">
        <div class="col border-end border-dark border-2">
            {% include "membros-da-familia.html" %}
        </div>
        <div class="col">
            {% if not calculo_individual %}
                {% include "renda-dos-membros.html" %}
            {% else %}
                {% include "dividas-divididas.html" %}
            {% endif %}
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row border-top border-dark border-2 min-size">
        <div class="col border-end border-dark border-2">
            {% include "contas-a-pagar.html" %}
        </div>
        <div class="col">
            {% include "valores-contas.html" %}
        </div>
    </div>
</div>
{% include "footer.html" %}